<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="common-header">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Online Shop</title>
    <!-- Bootstrap Core CSS -->
    
    <link href="/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/shoppingcart.css" rel="stylesheet" />

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

    <!-- Custom CSS -->
    <link href="/css/shop-homepage.css" rel="stylesheet" />
</head>

  <body>

    <!-- Navigation -->
    <div th:fragment="navbar">
	    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	      <div class="container">
	        <a class="navbar-brand" th:href="@{/}">OnlineShop</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarResponsive">
	          <ul class="navbar-nav mr-auto">
	            <!-- <li class="nav-item">
	              <a class="nav-link" href="#">About</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="#">Services</a>
	            </li> -->
	          </ul>
	          <ul class="navbar-nav">
	          	<li class="nav-item">
	          		<a class="nav-link" th:href="@{/cart/show}" 
	          		th:if="${session.containsKey('cart_id') and session.cartQuantity > 0}"
	          		th:text="${#strings.concat('Shopping Cart(', session.cartQuantity, ')')}"></a>
	          		<a class="nav-link" href="#" 
	          		th:unless="${session.containsKey('cart_id') and session.cartQuantity > 0}">Cart is empty</a>
	          	</li>   
	            <li class="nav-item" sec:authorize="!isAuthenticated()">
	              <a class="nav-link" th:href="@{/signin}">Sign In</a>
	            </li>
	            <li class="nav-item" sec:authorize="!isAuthenticated()">
	            	<a class="nav-link" th:href="@{/signup}">Sign Up</a>
	            </li>
	            <li sec:authorize="isAuthenticated()" class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><span sec:authentication="name">Bob</span><span class="caret"></span></a>
        			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          				<a class="dropdown-item" th:href="@{/user/update}">Update Account</a>
          				<a class="dropdown-item" th:href="@{/order/my_orders}">My Orders</a>
          				<a class="dropdown-item" th:href="@{/user/remove}">Close Account</a>
        			</div>
      			</li>
	            <li sec:authorize="isAuthenticated()" >
	            	<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>
	          </ul>
	        </div>
	      </div>
	    </nav>
	</div>
    <!-- /.container -->
    <br />
    <br />
    <div th:fragment="body-bottom-footer">
    
    	<!-- Footer -->
	    <footer class="py-5 bg-dark">
	      <div class="container">
	        <p class="m-0 text-center text-white">Copyright &copy; darglk 2017</p>
	      </div>
	      <!-- /.container -->
	    </footer>
    </div>
    
    <div th:fragment="body-bottom-scripts">
	    <!-- jQuery -->
		<script src="/js/jquery.min.js"></script>
		<!-- popper -->
		<script src="/js/popper.min.js"></script>
	    <!-- Bootstrap Core JavaScript -->
	    <script src="/js/bootstrap.min.js"></script>		
		
	</div>
</body>
</html>