<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<head th:replace="common/header :: navbar" />
<!-- Page Content -->
    <div class="container">

      <div class="row">

        	<div class="col-sm-12">
        		<table class="table table-hover">
        			<tr><th>Name</th><td th:text="${order.user.firstName}"></td></tr>
        			<tr><th>Surname</th><td th:text="${order.user.lastName}"></td></tr>
        			<tr><th>Email</th><td th:text="${order.user.email}"></td></tr>
        			<tr><th>Phone</th><td th:text="${order.user.phone}"></td></tr>
        			<tr><th>Address</th><td th:text="${order.user.address}"></td></tr>
        			<tr><th>City</th><td th:text="${order.user.city}"></td></tr>
        			<tr><th>Postal code</th><td th:text="${order.user.postcode}"></td></tr>
        		</table>
        		<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
		            <table class="table table-hover">
		                <thead>
		                    <tr>
		                        <th>Product</th>
		                        <th>&nbsp;</th>
		                        <th>Quantity</th>
		                        <th class="text-center">Price</th>
		                        <th class="text-center">Total</th>
		                        <th> </th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr th:each="orderDetails : ${order.orderDetails}">
		                    	<td><a class="thumbnail pull-left" th:href="@{/product/show/{id}(id=${orderDetails.product.id})}"> 
		                    	<img class="media-object" th:src="${orderDetails.product.productImageUrl}" style="width: 72px; height: 72px;"/> </a></td>
		                        <td class="col-sm-8 col-md-6">
		                        <div class="media">
		                            <div class="media-body">
		                                <h4 class="media-heading"><a th:href="@{/product/show/{id}(id=${orderDetails.product.id})}" th:text="${orderDetails.product.name}">Product name</a></h4>
		                            </div>
		                        </div></td>
		                        <td class="col-sm-1 col-md-1" style="text-align: center" th:text="${orderDetails.quantity}">
		                        </td>
		                        <td class="col-sm-1 col-md-1 text-center"><strong th:text="${#strings.concat(orderDetails.product.price, '$')}"></strong></td>
		                        <td class="col-sm-1 col-md-1 text-center"><strong th:text="${#strings.concat(orderDetails.product.price * orderDetails.quantity, '$')}"></strong></td>
		                        <td class="col-sm-1 col-md-1">
		                        	&nbsp;
		                        </td>
		                    </tr>
		                </tbody>
		                <tfoot>
		                    <tr>
		                    	<td>   </td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td><h3>Total</h3></td>
		                        <td class="text-right"><h3 th:text="${#strings.concat(order.totalWithShipping, '$')}"></h3></td>
		                    </tr>
		                    <tr>
		                    	<td>   </td>
		                        <td>   </td>
		                        <td>   </td>
		                        <td><a th:href="@{/order/my_orders}" class="btn btn-warning btn-sm">I'll pay later</a>   </td>
		                        <td>
		                        	
		                        </td>
		                        <td>
		                        <input type="hidden" name="business" value="darglk-facilitator@gmail.com" />
		                        <input type="hidden" name="cmd" value="_xclick" />
		                        <input type="hidden" name="upload" value="1" />
		                        <input type="hidden" name="return" value="http://localhost:8080" />
		                        <input type="hidden" name="invoice" th:attr="value=${order.id}" />
		                        <input type="hidden" name="amount" th:attr="value=${order.totalWithShipping}" />
		                        <input type="hidden" name="item_name" value="order in shop" />
		                        <input type="hidden" name="item_number" th:attr="value=${order.id}" />
		                        <input type="hidden" name="quantity" value="1" />
		                        <input type="hidden" name="notify_url" value="http://localhost:8080/order/hook" />
		                        <button type="submit" class="btn btn-success btn-sm">
		                            PayPal <i class="fa fa-play" aria-hidden="true"></i>
		                        </button></td>
		                    </tr>
		                </tfoot>
		            </table>
			</form>
        </div>
        </div>
      
	</div>
	<!-- /.container -->
    <div th:replace="common/header :: body-bottom-footer"/>
    <div th:replace="common/header :: body-bottom-scripts"/>
</html>