<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<head th:replace="common/header :: navbar" />
<!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Shop Name</h1>
          <form method="get" action="/product/list" class="form-inline">
			<input type="text" name="searchTerm" class="form-control" placeholder="Search for..."/>
			<span class="input-group-btn">
				<button class="btn btn-warning" type="submit">Go!</button>
			</span>
	 	  </form><br />
          <div class="list-group">
            <a th:each="category : ${categories}" th:href="@{/product/list/category/{id}(id=${category.id})}"
              th:text="${category.name}" class="list-group-item"></a>
          </div>

        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
        	<div class="row">
        		<div class="card mt-4">
            		<img class="card-img-top img-fluid" th:src="${product.productImageUrl}" alt="" />
            		<div class="card-body">
              			<h3 class="card-title" th:text="${product.name}"></h3>
              			<h4 th:text="${#strings.append(product.price, '$')}"></h4>
              			<p class="card-text" th:text="${product.description}"></p>
            			</div>
            			<form th:action="@{/cart/add_to_cart}" method="post">
                  			<input type="hidden" th:value="${product.id}" name="product_id" />
                  			<button type="submit" class="btn btn-warning btn-sm float-right"> 
                  				Add to Cart
                  				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  			</button>
                  		</form>
          			</div>
        	</div>
        	<!-- /.row -->	
        </div>
        <!-- /.col-lg-9 -->
	</div>
	</div>
    <!-- /.container -->
    <div th:replace="common/header :: body-bottom-footer"/>
    <div th:replace="common/header :: body-bottom-scripts"/>
    
</html>