<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<head th:replace="common/header :: navbar" />
<!-- Page Content -->
    <div class="container">

      <div class="row">

        	<div class="col-sm-12">
        		<div class="alert alert-success">
        			<h3>Thank you for purchasing our stuff! We will send you more info about your order in the email message.</h3>
        		</div>	
        	</div>
        </div>
      
	</div>
	<!-- /.container -->
    <div th:replace="common/header :: body-bottom-footer"/>
    <div th:replace="common/header :: body-bottom-scripts"/>
</html>