<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<head th:replace="common/header :: navbar" />

<body>
<div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
	<div class="row ">
		<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<div th:if="${hasErrors}" class="alert alert-danger">	
		        	<ul>
		        		<li th:each="errorMessage : ${errorMessages}"><span th:text="${errorMessage}"></span></li>
		        	</ul>
		        </div>
				<div class="main-center ">
				    <h1>Reset Password</h1>
				    <form class="form-horizontal" th:action="@{/user/savePassword}" method="post">
					    <div class="form-group">
					        <label for="newPassword" class="cols-sm-2 control-label">Enter new password:</label>
					        <input class="form-control" name="newPassword" type="password" value="" />
					 	</div>
					 	<div class="form-group">
					        <label for="newPasswordConfirmation" class="cols-sm-2 control-label">Confirm new password:</label>
					        <input class="form-control" type="password" id="matchPassword" name="newPasswordConfirmation" value="" />
						</div>
				        <button type="submit" class="btn btn-info">submit</button>
				    	</form>
				   	 </div>
				</div>
			</div>
		<div class="col-sm-4"></div>
	</div>
   	 
	<div th:replace="common/header :: body-bottom-scripts"/>
   </body>
</html>